%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: "/visuals/feed"} bubl
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if @curr_account.present?
          %li
            %p.navbar-btn
              %a#take-a-pic.btn.btn-success{href: "#"}
                %i.fa.fa-camera-retro
                Take a Pic
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", href: "#", role: "button"}
              = @curr_account.api_user_name
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              -#%li
                -#%a{href: "#"} Account
              -#%li
                -#%a{href: "#"} Settings
              -#%li.divider
              %li
                %a{href: "#"} Sign Out
        - else
          %li
            %p.navbar-btn
              %a#sign-in.btn.btn-danger{href: "/auth/google_oauth2"}
                %i.fa.fa-google
                Sign In

