%nav.navbar.navbar-inverse.navbar-fixed-top{data: {curr_account_name: @curr_account.try(:api_user_name)}}
  .container-fluid
    .navbar-header
      - if @can_go_back_to_feed
        %a.navbar-brand{href: "/visuals/feed"}
          %i.fa.fa-arrow-left
          bubl
      - else
        .navbar-brand bubl
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if @curr_account.present?
          - if @image.present? || @image_url.present?
            - if @googledrive
              %li.navbar-action
                %p.navbar-btn
                  = form_tag({controller: "site/visuals", action: "post_from_googledrive"}, multipart: true) do
                    = hidden_field_tag 'image_url', @image_url
                    = button_tag(type: "submit", id: "post-btn", class: "btn btn-warning") do
                      %i.fa.fa-cloud-upload
                      Post
            - else
              %li.navbar-action
                %p.navbar-btn
                  %a#take-a-pic.btn.btn-success{href: "#"}
                    %i.fa.fa-camera-retro
                    Take a Pic
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", href: "#", role: "button"}
              = @curr_account.api_user_name
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{href: "/sessions/signout"} Sign Out
        - else
          %li
            %p.navbar-btn
              %a#sign-in.btn.btn-danger{href: "/auth/google_oauth2"}
                %i.fa.fa-google
                Sign In

