#wrapper-with-right-sidebar

  #posts
    - @images.each do |image|
      %blockquote.post
        %a{href: "/visuals/#{image.id}/show"}
          %img.src{src: image.image_url(:thumb)}
        %footer
          = image.account_api_user_name

= render "site/visuals/upload_station"

