#wrapper-with-right-sidebar

  #posts
    - @images.each do |image|
      %blockquote.post
        %img.src{src: image.image_url(:thumb)}
        %footer= "anonymous"

= render "site/visuals/upload_station"
