html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eee;
}

#wrapper {
  position: absolute;
  left: 0;
  right: 210px;
  top: 50px;
  bottom: 0;
}

#wrapper #container {
  height: 100%;
  width: 100%;
}

#chatroom {
  position: absolute;
  width: 210px;
  top: 50px;
  right: 0;
  padding: 10px 10px 10px;
  bottom: 0;
}


#chatroom textarea {
  width: 100%;
  resize:none;
}

#chatroom #messages {
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  top: 100px;
  bottom: 0;
}

#chatroom #messages blockquote {
  padding: 5px;
  margin: 0 0 10px;
  font-size: 15px;
  border-left: 5px solid #444;
  width: 100%;
  cursor: pointer;
}

#chatroom #messages blockquote p {
  margin: 0px;
}

