= render "menu/header"

#wrapper
  #container{data: {image_url: @image_url}}

= javascript_include_tag 'three.min'
= javascript_include_tag 'photo-sphere-viewer'
= javascript_include_tag 'photo_dummy'

